<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsh.dao.ServiceUpdateBakMapper" >
  <resultMap id="BaseResultMap" type="com.wsh.domain.ServiceUpdateBak" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="service_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cost_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, service_id, cost_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from service_update_bak
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from service_update_bak
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wsh.domain.ServiceUpdateBak" >
    insert into service_update_bak (id, service_id, cost_id
      )
    values (#{id,jdbcType=INTEGER}, #{serviceId,jdbcType=INTEGER}, #{costId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wsh.domain.ServiceUpdateBak" >
    insert into service_update_bak
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="costId != null" >
        cost_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="costId != null" >
        #{costId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsh.domain.ServiceUpdateBak" >
    update service_update_bak
    <set >
      <if test="serviceId != null" >
        service_id = #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="costId != null" >
        cost_id = #{costId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsh.domain.ServiceUpdateBak" >
    update service_update_bak
    set service_id = #{serviceId,jdbcType=INTEGER},
      cost_id = #{costId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>