#navigationBar{
    background-color: #ffffff;
    height: 70px
}
#menuBar{
    background-color: #f5f8fa;
    height: 900px
}
#navigationBar>div{
    margin: 0px auto;
    width: 1181px
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
#logo{
    height: 70px
}
#navigationBar>div>div{
    height: 54px;
    margin-top: auto;
    padding-top: 25px
}
#navigationBar>div>div>div>a{
    text-decoration-line: none;
    color: #4477d0
}
#txt{
    color: #4477d0;
    font-size: 17px;
    margin-left: 20px
}
#user{
    color: red;
    height: 54px;
    margin-top: auto;
    margin-left: 330px ;
    padding-top: 25px;
    font-size: large
}
#user>a{
    text-decoration: none;
    color: red;
    font-size: 15px;
}
table{
    text-align: center;
    float: left;
}
#bookList{
    width: 1120px;
    height: 900px;
    margin:0 auto;
    background-color: #d8d7d2
}