<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://$USER_HOME$/Desktop/spring/aspectjrt.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/spring/aspectjweaver.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/spring/cglib.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/spring/commons-logging-1.2.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/spring/spring-aop-4.3.8.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/spring/spring-beans-4.3.8.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/spring/spring-context-4.3.8.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/spring/spring-core-4.3.8.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/spring/spring-expression-4.3.8.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/spring/spring-jdbc-4.3.8.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/spring/spring-orm-4.3.8.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/spring/spring-tx-4.3.8.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/spring/spring-web-4.3.8.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/libs/c3p0-0.9.2.1.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/libs/mchange-commons-java-0.2.3.4.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/libs/mysql-connector-java-5.1.18-bin.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>