<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsh.dao.Role_ModuleMapper" >
  <resultMap id="BaseResultMap" type="com.wsh.domain.Role_Module" >
    <constructor >
      <arg column="role_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="module_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.wsh.domain.Role_Module" >
    insert into role_module (role_id, module_id)
    values (#{roleId,jdbcType=INTEGER}, #{moduleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wsh.domain.Role_Module" >
    insert into role_module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="moduleId != null" >
        module_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>